<h3>Products</h3>

<div class="row">
  <div class="section">
  <% @products.each do |product| %>
    <div class="col s4">
      <div class="single_product" id="single_product_<%= product.id %>">
        <h4><%= product.name %></h4>
        <p class="show_user_detail">Double Click for detail</p>
        <% if current_user && current_user.admin %>
          <p><%= link_to "Edit Product", edit_product_path(product) %></p>
          <p><%= link_to "Delete Product", product_path(product),
            :data =>
              {
                :confirm => 'Are you sure?',
                :method => 'delete'
              } %></p>
        <% end %>
        <p><%= number_to_currency product.price %></p>
      </div>
      <div id="single_product_description_<%= product.id %>" class="single_product_description">
          <p><%= product.description %></p>
          <p><%= image_tag "checkerboard.png" %></p>
      </div>
      <%= form_for @order_item, remote: true do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.number_field :quantity, placeholder: "Oops, breaks if you don't add input!" %>
        <span class="waves-effect waves-light btn"><%= f.submit "Add to cart" %></span>
      <% end %>
    </div>
  <% end %>
  <% p @product, 'hello index 3' %>

</div>
</div>
